:root {
    --headerFg: rgb(219, 219, 219);
    --headerBg: #D3EFBD;
    --headerElement: #2E3532;
    --headerMomentanElement: #8B2635;
    --bodyBg: #E0E2DB;
    --imageBg: #D2D4C8;
}

.flex {
    display: flex;
}

body {
    margin: 0;
    background-color: var(--bodyBg);
}

.header {
    display: grid;
    background-color: var(--headerElement);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr;
}

.headerItem {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 50px;
    width: 150px;
    height: 80px;

    color: var(--headerFg);
    font-size: 20px;
    background-color: var(--headerElement);
    border-radius: 5px;
    text-decoration: none;
}

.headerCurrentItem {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 50px;
    margin-top: 20px;
    width: 150px;
    height: 40px;

    color: var(--headerFg);
    font-size: 20px;
    background-color: var(--headerMomentanElement);
    border-radius: 5px;
    text-decoration: none;
}

.imgContainer {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.imgContainer2 {
    display: flex;
    justify-content: center;
}

.divImg1,
.divImg2 {
    display: flex;
    justify-content: center;
    background-color: var(--imageBg);
    border-radius: 30px;
    margin-right: 2.5vw;
    margin-left: 2.5vw;
}

.divImg3 {
    display: flex;
    justify-content: center;
    background-color: var(--imageBg);
    border-radius: 2.5vw;
}

.img1,
.img2 {
    width: 35vw;
    margin: 50px;
    border-radius: 10px;
}

.img3 {
    width: 82.2vw;
    height: auto;
    margin: 3vw;
    border-radius: 10px;
}


.aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.aboutDivImg {
    display: flex;
    justify-content: center;
    background-color: var(--imageBg);
    border-radius: 30px;
    margin-top: 5vh;
    margin-right: 6vw;
    margin-left: 6vw;
}

.aboutImg {
    width: 35vw;
    margin: 50px;
    border-radius: 10px;
}

.aboutContent {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.aboutDivTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5vh;
    margin-right: 6vw;

    background-color: var(--imageBg);
    border-radius: 30px;
}

.aboutTitle {
    font-size: 40px;
    font-weight: bold;
}

.aboutDivText {
    display: flex;

    margin-top: 5vh;
    margin-right: 5vw;
    border-radius: 30px;
}

.aboutText {
    word-wrap: break-word;
    width: 40.5vw;
}

.hobbyContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hobbyDivImg {
    display: flex;
    justify-content: center;
    background-color: var(--imageBg);
    border-radius: 30px;
    margin-top: 5vh;
    margin-right: 6vw;
    margin-left: 6vw;
}

.hobbyImg {
    width: 35vw;
    margin: 50px;
    border-radius: 10px;
}

.hobbyContent {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.hobbyDivTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5vh;
    margin-right: 6vw;

    background-color: var(--imageBg);
    border-radius: 30px;
}

.hobbyTitle {
    font-size: 40px;
    font-weight: bold;
}

.hobbyDivText {
    display: flex;

    margin-top: 5vh;
    margin-right: 5vw;
    border-radius: 30px;
}

.hobbyText {
    word-wrap: break-word;
    width: 40.5vw;
}

.workContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

.workElement {
    margin-right: 5vw;
    margin-left: 6vw;
}

.imgButtonContainer {
    position: relative;
}

.learnMoreButton {
    position: absolute;
    top: 82%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.workImg {
    width: 20vw;
    border-radius: 10px;
}

.workText {
    word-wrap: break-word;
    width: 20vw;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 15vh;

    border-radius: 15px;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-right: 90px;
    margin-left: 90px;

    background-color: var(--headerElement);
    color: white;
}

.footerTitel {
    font-size: 30px;
}